<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>you are signed in to <%= user %> </p>
    <p>Welcome to le Bob de Bilder</p>
    <a href="signin">le lnik to siegn in</a>
    <a href="signup">le lnik to siegn uopp</a>
  </body>
</html>
